@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: 'SuperMario256';
  src:  url('../fonts/SuperMario256.woff2') format('woff2'),
        url('../fonts/SuperMario256.woff') format('woff'),
        url('../fonts/SuperMario256.ttf') format('ttf');
}

body{
    
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'SuperMario256', sans-serif;
}

.bg-colorPrincipal{
    background-color: #80eb52;
}

.text-colorPrincipal{
    color: #f20df2;
}

.btn-exterior-colorPrincipal{
    border-color: #f20df2;
    color: #f20df2;
}
.btn-exterior-colorPrincipal:hover{
    background-color: #f20df2;
    color:#fff;
}

.bg-principal{
    background-color: #2c960e;
}

.bg-peligro{
    background-color: #cc0000;
}

.bg-informacion{
    background-color: #0000cc;
}

/* .bg-primary,
.bg-secondary,
.bg-danger,
.bg-warning,
.bg-info

bg-(color)
text-(color)
border-(color) */

.bg-principal{
    background-color: #2c960e;
}

.bg-principalClaro{
    background-color: #80eb52;
}

.bg-principalOscuro{
    background-color: #164b07;
}

.text-normal{
    color: #141414;
}

.text-claro{
    color: #ccc;
}

